<!doctype html>
<html>
<head>
  <title>Meadowlard Travel</title>
</head>
<body>
  <header><img src="/img/logo.png" alt="Meadowlark Travel Logo" width="100"></header>
  {{{body}}}
</body>
</hmtl>
